:root {
    --color-primary: #47604A; 
    --color-bg:   #F7F3E8;
    --color-gold: #c9932a;
    --color-ivory:#fefcf7;
    --color-bark: #4a4a3a;
    --color-moss: #1a2e1a;

    --header-height: 14rem;
}